@media (max-width: 1024px) {
  /* Condicional: Valor máximo que tiene que tener la viewport para que se aplique los estilos dentro del media query. */
  .hero {
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 40px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-presentation {
    text-align: center;
  }

  .about {
    width: 80%;
    padding-bottom: 50px;
  }

  .cards {
    width: 100%;
  }

  .cards-contenido-products {
    flex-direction: column;
    width: 100%;
  }

  .cards-contenido-products h3 {
    width: 80%;
  }

  .cards-contenido-products p {
    width: 50%;
  }

  .contact {
    width: 80%;
  }

  .contact-info {
    gap: 40px;
  }

  .contact-info-people {
    flex-direction: column;
  }

  .logo-footer img {
    width: 5%;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 60px;
    /* Alto del header */
    right: 0;
    background-color: var(--bg-dark-gray);
    width: 50%;
    padding: 20px;
    border: 2px solid var(--bg-gold);
    border-top: none;
    /* Cascada: después de darle todos los bordes, saco el de arriba */
    border-radius: 0 0 20px 20px;
    align-items: center;
    justify-content: center;
    display: none;
    /* Para que no esté siempre visible */
  }

  #menu-toggle:checked ~ .nav-list {
    display: flex;
  }

  .hero {
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 30px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-presentation {
    text-align: center;
  }

  .about {
    width: 80%;
    padding-bottom: 50px;
    text-align: justify;
  }
  .cards {
    padding-bottom: 50px;
  }

  .cards-contenido-products {
    flex-direction: column;
  }

  .cards-contenido-products p {
    width: 80%;
  }

  .contact {
    width: 100%;
    padding: 50px 0 50px 40px;
  }

  .logo-footer img {
    width: 5%;
  }

  .logo-footer p {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    width: 200px;
  }
}

@media (max-width: 576px) {
  .hero {
    flex-direction: column;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .thg {
    width: 400px;
  }

  .hero-presentation {
    text-align: center;
  }

  .about {
    width: 90%;
    padding: 30px 30px 20px 30px;
  }

  .cards-contenido-title-description p {
    width: 100%;
  }

  .cards-contenido-products {
    flex-direction: column;
  }

  .cards-contenido-products h3 {
    width: 80%;
  }

  .cards-contenido-products p {
    width: 120%;
  }

  .music span {
    text-align: center;
  }

  .contact {
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }

  .contact-info {
    gap: 40px;
  }

  .contact-info h2 {
    text-align: center;
  }

  .contact-info-people {
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 600px;
  }

  .logo-footer img {
    width: 5%;
  }

  .logo-footer p {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    width: 200px;
  }
}

@media (max-width: 320px) {
  body {
    width: 100%;
  }

  .hero {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .thg {
    width: 300px;
  }

  .about {
    width: 90%;
    font-size: 15px;
    padding-bottom: 10px;
  }

  .cards {
    width: 150%;
    padding-bottom: 20px;
  }

  .cards-contenido p {
    text-align: justify;
    width: 70%;
  }

  .cards-contenido-products {
    flex-direction: column;
  }

  .cards-contenido-products p {
    width: 80%;
  }

  .contact {
    flex-direction: column;
    width: 100%;
    gap: 50px;
    margin-right: 40px;
  }
  .contact-info h2 {
    text-align: center;
  }

  .people h3 {
    text-align: center;
  }

  .sinsajos {
    height: 350px;
  }

  hr {
    width: 560px;
  }

  .logo-footer img {
    width: 10%;
  }

  .logo-footer p {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    width: 200px;
  }
}
