@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-white: rgba(245, 245, 245);
  --font-black: black;
  --bg-white: rgb(245, 245, 245);
  --bg-gold: #bd7e43;
  --bg-beige: #c8b8a7;
  --bg-dark-green: #00472f;
  --bg-light-green: #3a4438;
  --bg-dark-red: #5b1818;
  --bg-dark-gray: rgb(37, 37, 37);
  --bg-black: black;
}

body {
  background: rgb(233, 223, 223);
  background: linear-gradient(
    180deg,
    rgba(91, 24, 24, 1) 30%,
    rgba(200, 184, 167, 1) 75%,
    rgba(58, 68, 56, 1) 100%
  );
}

header {
  background-color: var(--bg-dark-gray);
  padding: 0 40px;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80%;
  /* solo con el height en % acomoda la imagen por el flex del header */
}

.nav-list {
  display: flex;
  gap: 100px;
}

.nav-links {
  color: var(--font-white);
  font-size: 14px;
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0px;
  width: 90%;
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.thg {
  width: 650px;
}

h1 {
  font-weight: 800;
  font-size: 35px;
  color: var(--font-white);
  font-style: italic;
  display: flex;
  flex-direction: column;
  /* manipulo el h1 como una caja: le doy flex-direction: column para que el span se ubique abajo */
}

.hero-presentation p {
  color: var(--font-white);
  font-size: 15px;
  font-weight: 100px;
  max-width: 450px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons a {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
}

.hero-write {
  background-color: black;
  color: var(--font-white);
}

.hero-learn-more {
  background-color: white;
  color: var(--font-black);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 850;
  padding: 30px 0;
  font-weight: 500;
  text-align: center;
}

.about p span {
  font-style: italic;
}
