@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-white: rgba(245, 245, 245);
  --font-black: black;
  --bg-white: rgb(245, 245, 245);
  --bg-gold: #bd7e43;
  --bg-beige: #c8b8a7;
  --bg-dark-green: #00472f;
  --bg-light-green: #3a4438;
  --bg-dark-red: #5b1818;
  --bg-dark-gray: rgb(37, 37, 37);
  --bg-black: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark-gray);
  padding: 10px 50px;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

img {
  width: 60px;
  height: 60px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-links {
  color: var(--font-white);
  font-size: 14px;
  font-weight: 200;
}

.hero {
  background-color: var(--bg-dark-red);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-text {
  display: column;
  align-items: center;
  max-width: 1000px;
  padding: 40px 0 40px 100px;
  max-width: max-content;
}

.thg {
  width: 750px;
  height: 450px;
  padding: 40px 100px 40px 0;
}

h1 {
  color: var(--font-white);
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 20px;
}

h1,
span {
  font-style: italic;
}

.hero-text p {
  color: var(--font-white);
  font-size: 15px;
  font-weight: 100px;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons,
button {
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.hero-write {
  background-color: black;
  color: var(--font-white);
}

.about-text {
  font-weight: 600;
  text-align: center;
  padding: 50px 300px;
  font-size: 20px;
  background-color: var(--bg-gold);
}
